# Firewall role - Configure UFW
---
- name: Install UFW
  apt:
    name: ufw
    state: present

- name: Set UFW default deny incoming
  ufw:
    direction: incoming
    policy: deny

- name: Set UFW default allow outgoing
  ufw:
    direction: outgoing
    policy: allow

- name: Allow SSH
  ufw:
    rule: allow
    port: "{{ ssh_port }}"
    proto: tcp

- name: Allow HTTP
  ufw:
    rule: allow
    port: "80"
    proto: tcp

- name: Allow HTTPS
  ufw:
    rule: allow
    port: "443"
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled
    logging: "on"
